---
import '@/styles/global.css';

type Props = {
  title: string;
  description?: string;
};

const { title, description = 'See where your team\'s heads are at' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Overlap</title>
  </head>
  <body>
    <slot />
  </body>
</html>
